body {
    margin: 40px;
  }
  
.wrapper {
display: grid;
grid-gap: 10px;
grid-template-columns: [col1-start] 40%  [col2-start] 40%  [col3-start] 20% [col3-end];
grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
background-color: #fff;
color: #444;
}

.box {
    color: black;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

}

.a {
    grid-column: col1-start / col3-start;
    grid-row: row1-start;
    font-size: 40pt;
    font-family: "Caveat";
}
.b {
    grid-column: col3-start;
    grid-row: row1-start / row2-end;
    font-family: "Caveat";
    text-align: right;
}
.c {
    grid-column: col1-start;
    grid-row: row2-start;
}
.d {
    grid-column: col2-start;
    grid-row: row2-start;
    font-size: 14pt;
    text-align: justify;
    font-family: "Quicksand";
    padding-top: 0px;
}
.catskull { 
    width: 100%;
}